@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    margin: 3rem 2rem;
}

.time-input{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.city-input, .country-input{ 
    margin-bottom: 1rem;
    width: 200px;
    border: none;
    border-bottom: 1px solid #fafbfd; ;
    outline: none;
    font-size: .9rem;
    color: #fafbfd; ;
    text-align: center;
    background: transparent;
}

button{
    border: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    
    .fa-search{
 
        color: #fafbfd; ;
        &:hover{
           color: #e0e0e0; 
         }
    }
}

.time{
    opacity: .6;
    font-size: 1.2rem;
    font-weight: 100;
}

.weather-display{
    // position: absolute;
    height: 90vh;
    @include flex;
    // flex-direction: row;
    transition: all 1s ease ;
}

.temp-location{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-main-info{
    @include flex;
    flex-direction: column;
}

.temp-info, .temp-high-low{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.temp-city, .temp-country{
    padding: 0 2rem;
}

.temp-low, .temp-high{
    padding: 0 2rem;
}

.temp-condition{
    margin: 2rem 0;
}

.notification{
    text-align: center;
    color: #fafbfd; ;
    font-size: .9rem;
}


// fonts
.temp{
    font-size: 3rem;
    font-weight: 300;
}



@media screen and (max-width: 900px) {
    .weather-display{
    width: 0 auto;
    height: 85vh;
    @include flex;
    transition: all 1s ease ;
    }

    .weather-container{
        margin: 3rem auto;
        max-width: 80%;
        display: flex;
        flex-direction: column;
    }

    .time-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .time{
        padding-top: 2rem;
    }

}