@mixin placeholder {
    color: #c4c3c3;
    font-size: .8rem;
    letter-spacing: .5px;
}

// Normalize
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fafbfd;
    font-family: 'Roboto', sans-serif;
    background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.664), rgba(48, 48, 48, 0.356), rgba(255, 255, 255, 0.185)), 
    url("https://images.pexels.com/photos/5603830/pexels-photo-5603830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.App{
    height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    letter-spacing: .10px;
}

p{
    word-spacing: 1px;
    letter-spacing: .5px;
}

::-webkit-input-placeholder{
    @include placeholder;
}
::-moz-placeholder{
    @include placeholder;
}
::placeholder{
    @include placeholder;
}


// partial styles
@import "./styles//weatherContainer";